    <div class="rz-paginator rz-unselectable-text rz-helper-clearfix rz-align-justify">
    @if (CurrentPage != 0)
    {
        <a class="rz-paginator-first rz-paginator-element" @onclick="@(() => GoToPage(0))" href="javascript:void(0)" tabindex="-1">
            <span class="rz-paginator-icon rzi rzi-step-backward"></span>
        </a>
    }
    else
    {
        <a class="rz-paginator-first rz-paginator-element rz-state-disabled" href="javascript:void(0)" tabindex="-1">
            <span class="rz-paginator-icon rzi rzi-step-backward"></span>
        </a>
    }


    @if (CurrentPage > 0)
    {
        <a class="rz-paginator-prev rz-paginator-element" @onclick="@(() => GoToPage(CurrentPage - 1))" href="javascript:void(0)" tabindex="-1">
            <span class="rz-paginator-icon rzi rzi-caret-left"></span>
        </a>
    }
    else
    {
        <a class="rz-paginator-prev rz-paginator-element rz-state-disabled" tabindex="-1">
            <span class="rz-paginator-icon rzi rzi-caret-left"></span>
        </a>
    }

    <span class="ui-paginator-pages">
        @if (!(CurrentPage < 0) && CurrentPage > 1)
        {
            <a class="rz-paginator-page rz-paginator-element " @onclick="@(() => GoToPage(CurrentPage - 2))" href="javascript:void(0)">@NextNumber(-1)</a>
        }
        @if (!(CurrentPage < 0) && CurrentPage > 0)
        {
            <a class="rz-paginator-page rz-paginator-element " @onclick="@(() => GoToPage(CurrentPage - 1))" href="javascript:void(0)">@NextNumber(0)</a>
        }
        <a class="rz-paginator-page rz-paginator-element rz-state-active">@NextNumber(1) / @MaxPageCount</a>
        @if (!(CurrentPage > MaxPageCount) && (CurrentPage + 1) < MaxPageCount)
        {
            <a class="rz-paginator-page rz-paginator-element " @onclick="@(() => GoToPage(CurrentPage + 1))" href="javascript:void(0)">@NextNumber(2)</a>
        }
        @if (!(CurrentPage > MaxPageCount) && (CurrentPage + 2) < MaxPageCount)
        {
            <a class="rz-paginator-page rz-paginator-element " @onclick="@(() => GoToPage(CurrentPage + 1))" href="javascript:void(0)">@NextNumber(3)</a>
        }
    </span>



    @if (MaxPageCount == 1 || (CurrentPage + 1) == MaxPageCount)
    {
        <a class="rz-paginator-next rz-paginator-element rz-state-disabled" tabindex="0">
            <span class="rz-paginator-icon rzi rzi-caret-right"></span>
        </a>
    }
    else
    {
        <a class="rz-paginator-next rz-paginator-element" @onclick="@(() => GoToPage(CurrentPage + 1))" href="javascript:void(0)" tabindex="0">
            <span class="rz-paginator-icon rzi rzi-caret-right"></span>
        </a>
    }

    @if (MaxPageCount == 1 || (CurrentPage + 1) == MaxPageCount)
    {
        <a class="rz-paginator-last rz-paginator-element rz-state-disabled"  tabindex="0">
            <span class="rz-paginator-icon rzi rzi-step-forward"></span>
        </a>
    }
    else
    {
        <a class="rz-paginator-last rz-paginator-element" @onclick="@(() => GoToPage(MaxPageCount - 1))" href="javascript:void(0)" tabindex="0">
            <span class="rz-paginator-icon rzi rzi-step-forward"></span>
        </a>
    }


</div>

<style>
    .ui-paginator-prev {
    color: white;
    background-color: #479cc8;
}
.ui-paginator-first {
    color: white;
    background-color: #479cc8;
}
</style>

@code {
    [Parameter]
    public int CurrentPage { get; set; }

    [Parameter]
    public int MaxPageCount { get; set; }

    [Parameter]
    public EventCallback<int> PageCountChanged { get; set; }

    public int NextNumber(int offset)
    {
        return CurrentPage + offset;
    }

    public async Task GoToPage(int number)
    {
        await PageCountChanged.InvokeAsync(number);
    }
}