@using MatBlazor
@using Gallery.Data
@using Gallery.Database
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Gallery</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <MatNavMenu>
                <MatNavSubMenu @bind-Expanded="@albumMenuOpened">
                    <MatNavSubMenuHeader>
                        <MatNavItem AllowSelection="false"><MatIcon Icon="perm_media"></MatIcon>&nbsp;&nbsp;Albums</MatNavItem>
                    </MatNavSubMenuHeader>
                    <MatNavSubMenuList>
                        @foreach (GAlbum a in DB.Albums.Values.Where(x => x.isPublic && !x.isNsfw && x.subAlbum == 0))
                        {
                            IEnumerable<GAlbum> subs = DB.Albums.Values.Where(x => x.subAlbum == a.id);
                            if (subs.Count() == 0)
                            {
                                <MatNavItem Href="@("/album/" + @a.id)">• @a.name</MatNavItem>
                            }
                            else
                            {
                                <MatNavSubMenu Class="navmenu-sub">
                                    <MatNavSubMenuHeader>
                                        <MatNavItem AllowSelection="false">@a.name</MatNavItem>
                                    </MatNavSubMenuHeader>
                                    <MatNavSubMenuList>
                                        <MatNavItem Id="navitem" Href="@("/album/" + @a.id)">• @a.name</MatNavItem>
                                        @foreach (GAlbum sa in subs)
                                        {
                                            <MatNavItem Href="@("/album/" + @sa.id)" Id="navitem">• @sa.name</MatNavItem>
                                        }
                                    </MatNavSubMenuList>
                                </MatNavSubMenu>
                            }
                        }
                    </MatNavSubMenuList>
                </MatNavSubMenu>
            </MatNavMenu>
        </li>
    </ul>
</div>

<style>
    .mdc-nav-item {
    color: white !important;
}
.mdc-sub-menu-icon {
    color: rgb(202,197,197);
}
.mat-accordion .mat-expansion-panel.mat-expansion-panel--expanded .mat-expansion-panel__summary .after {
    color: white;
}
.navmenu-sub .after {
    display: none !important;
}
.mat-expansion-panel--expanded {
    background-color: rgba(0,0,0,0.22) !important;
}

.navmenu-sub {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}
.px-3 {
    padding: 5px !important;
}
.mat-expansion-panel:not(:first-child) .mdc-nav-item:before {
     content: '˃  ' !important;
}

.mat-expansion-panel--expanded:not(:first-child) .mdc-nav-item:before {
     content: '˅  ' !important;
}
</style>

@code {
    bool collapseNavMenu = true;
    bool albumMenuOpened = true;
    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;



    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
